<div class="container-home">
  <app-header [nombre] = "nombre"></app-header>
  
    <section class="main">
      <mat-card class="example-card">
        <mat-card-title-group class="header-playlist">
          <mat-card-title class="title-playlist">Tus favoritos</mat-card-title>
          <mat-card-subtitle class="description-playlist"></mat-card-subtitle>
          <mat-card-subtitle class="description-playlist"><span style="font-weight: bold;">{{nombre}} </span>&nbsp; * {{totalsong}}&nbsp; <span>canciones</span></mat-card-subtitle>
          <mat-icon class="icon-main-favorite">favorite</mat-icon>
        </mat-card-title-group>
        <mat-card-content style="display: flex;">
          <mat-icon class="iconsplaylist">play_circle_outline</mat-icon>
        </mat-card-content>
      </mat-card>


      <app-table-listmusic [dataSource]="dataSource" ></app-table-listmusic>
    </section>
  </div>