<div class="container-home">
    <mat-toolbar class="header-app">
        <img src="/assets/iconmusic.png" width="50px">
        <span class="name-app">MyMusicApp</span>
        <span class="example-spacer"></span>
        <button class="btn-user" style="background-color: #9caada;">
            <mat-icon>person</mat-icon>  
            <span class="name-user">{{nombre}}</span>
        </button>
    </mat-toolbar>
    <section class="main">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
    </section>
</div>





