.container-home
{
    background-color: #262833;
    width: 100%;
    margin: 0 auto !important;
    max-width: 1920px;
    text-align: center;
    min-height: 100vh;
    font-family: 'Titan One', cursive;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.main
{
    width: 100%;
    margin: 0 auto !important;
    max-width: 1920px;
    text-align: center;
    padding: 3% 7%;
    box-sizing: border-box;
    min-height: 100vh;
}

